<!DOCTYPE html>
<html>

<head>
	<!-- 页面meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>商品管理</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../plugins/pageination/zpageNav.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini" >

<div id="app">
	<div class="box-header with-border" style="height: 64.5px;line-height: 54px;">
		<h3 class="box-title">商品审核</h3>
	</div>

	<div class="box-body">

		<!-- 数据表格 -->
		<div class="table-box">

			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<button type="button" class="btn btn-default"  title="删除" @click="deleteGoods()" ><i class="fa fa-trash-o"></i> 删除</button>
						<button type="button" class="btn btn-default" title="审核通过" @click=updateStatus('2') ><i class="fa fa-check"></i> 提交审核</button>
						<button type="button" class="btn btn-default" title="驳回" @click=updateStatus('3')><i class="fa fa-ban"></i> 驳回</button>
						<button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
					</div>
				</div>
			</div>
			<div class="box-tools pull-right">
				<div class="has-feedback">
					状态：<select v-model="searchEntity.auditStatus">
					<option value="">全部</option>
					<option value="0">未申请</option>
					<option value="1">申请中</option>
					<option value="2">审核通过</option>
					<option value="3">已驳回</option>
				</select>
					商品名称：<input  v-model="searchEntity.goodsName">
					<button class="btn btn-default" @click="pageHandler(1)">查询</button>
				</div>
			</div>
			<!--工具栏/-->

			<!--数据列表-->
			<table id="dataList" class="table table-bordered table-striped table-hover dataTable">
				<thead>
				<tr>
					<th class="" style="padding-right:0px">
						<input id="selall" type="checkbox" class="icheckbox_square-blue">
					</th>
					<th class="sorting_asc">商品ID</th>
					<th class="sorting">商品名称</th>
					<th class="sorting">商品价格</th>
					<th class="sorting">一级分类</th>
					<th class="sorting">二级分类</th>
					<th class="sorting">三级分类</th>
					<th class="sorting">状态</th>
					<th class="text-center">操作</th>
				</tr>
				</thead>
				<!--<tbody>
				<tr>
					<td><input  type="checkbox"></td>
					<td>1</td>
					<td>小米6S手机</td>
					<td>1090</td>
					<td>数码</td>
					<td>手机</td>
					<td>国产手机</td>
					<td>
		                                  	<span>
		                                  		未申请
		                                  	</span>
						<span >
		                                  		申请中
		                                  	</span>
						<span>
		                                  		审核通过
		                                  	</span>
						<span>
		                                  		已驳回
		                                  	</span>
					</td>
					<td class="text-center">
						<button type="button" class="btn bg-olive btn-xs">修改</button>
					</td>
				</tr>
				</tbody>-->
				<tbody>
				<tr v-for="goodsItem in goodsList">
					<td><input  type="checkbox" @click="deleteSelection($event,goodsItem.id)"></td>
					<td>{{goodsItem.id}}</td>
					<td>{{goodsItem.goodsName}}</td>
					<td>{{goodsItem.price}}</td>
					<td>{{itemCategory[goodsItem.category1Id]}}</td>
					<td>{{itemCategory[goodsItem.category2Id]}}</td>
					<td>{{itemCategory[goodsItem.category3Id]}}</td>
					<td>
						<span>{{status[goodsItem.auditStatus]}}</span>
					</td>
					<td class="text-center">
						<a type="button" class="btn bg-olive btn-xs" :href="'goods_edit.html?id='+goodsItem.id">修改</a>
					</td>
				</tr>
				</tbody>
			</table>
			<!--数据列表/-->


		</div>
		<!--分页-->
		<zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total"
				  v-bind:max-page="maxPage"  v-on:pagehandler="pageHandler">
		</zpagenav>


	</div>
</div>


</body>
<script type="text/javascript" src="../plugins/vue/vuejs-2.5.16.js"></script>
<script type="text/javascript" src="../plugins/vue/axios-0.18.0.js"></script>
<script type="text/javascript" src="../plugins/pageination/zpageNav.js"></script>
<script type="text/javascript" src="../plugins/vue/qs.js"></script>

<script>
	new Vue({
		el:"#app",
		data:{
			page: 1,  //显示的是哪一页
			pageSize: 10, //每一页显示的数据条数
			total: 0, //记录总数
			maxPage:0,
			searchEntity:{},
			goodsList:[],
			itemCategory:{},
			status:{0:"未申请", 1:"申请中", 2:"审核通过", 3:"已驳回"}
			selectIds:[] //记录选择了哪些记录的id

		},
		methods:{
			pageHandler: function (page) {
				var _this = this;
				this.page = page;
				axios.post("/goods/search.do?page="+page+"&pageSize="+this.pageSize,this.searchEntity)
						.then(function (response) {
							//取服务端响应的结果
							_this.goodsList = response.data.rows;
							_this.total = response.data.total;
							console.log(response);
						}).catch(function (reason) {
					console.log(reason);
				})
			},
			loadCategoryData:function () {
				var _this = this;
				axios.post("/itemCat/findAll.do")
						.then(function (response) {
							var allCategoryList = response.data;
							console.log(allCategoryList);
							for(var i=0; i <allCategoryList.length; i++){
								var cat = allCategoryList[i];
								_this.itemCategory[cat.id] = cat.name;
							}
							console.log(_this.itemCategory);
							_this.pageHandler(1);
						}).catch(function (reason) {
					console.log(reason);
				})
			},
			deleteSelection:function (event,id) {
				// 复选框选中
				if(event.target.checked){
					// 向数组中添加元素
					this.selectIds.push(id);
				}else{
					// 从数组中移除
					var idx = this.selectIds.indexOf(id);
					this.selectIds.splice(idx,1);
				}
			},
			deleteGoods:function () {
				var _this = this;
				//使用qs插件 处理数组
				axios.post('/goods/delete.do',Qs.stringify({ids: _this.selectIds},{ indices: false }))
						.then(function (response) {
							_this.pageHandler(_this.page);
							_this.selectIds = [];
							alert("删除成功");
						}).catch(function (reason) {
					alert(reason.message);
				})
			},
			updateStatus:function (status) {
				var ids = Qs.stringify({ids: this.selectIds},{ indices: false })
				var _this = this;
				axios.get("/goods/updateStatus.do?"+ids+"&status="+status)
						.then(function (response) {
							_this.loadCategoryData();

							_this.selectIds = [];
							$("input[type='checkbox']").prop("checked",false);
						}).catch(function (reason) {
					console.log(reason);
				})
			}

		},
		created: function() {
			this.loadCategoryData();

		}
	});
</script>

</html>